@import "_reset";

:root {
    --main-text : #1B1B1B;
    --main-bg-100 : #F6F8FC;
    --main-bg-200 : #F7ECFF;
    --main-bg-300 : #CBFEEC;
    --max-size : 1240px;
}

body {
    color: var(--main-text);
}

.container {
    background-color: var(--main-bg-100);
    // background-color: ;
}

h1 {
    margin: 10px;
    padding: 10px;
}

h2 {
    margin-bottom: 5px;
}

.box {
    background-color: var(--main-bg-100);
    border-radius: 20px;
    margin: 10px;
    padding: 10px 15px;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
}

.weather-container {
    // background-color: gold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.weather-container img {
    width: 100px;
    height: 100px;
}


.weather-container article div {
    font-weight: bold;
    line-height: 34px;

}

.weather-container .tempToday {
    font-size: 38px;
}

.weather-container .weatherToday {
    font-size: 30px;
}

.weather-container .regionCurrent {
    font-size: 30px;
}

.weather-container .pollutionGroup {
    display: flex;
    gap: 10px;
}

.slider-container {
    position: relative;
    // width: 100%;
    // max-width: 900px;
    // height: 350px;
    // margin: 50px auto;
    overflow: hidden;
}

.slider {
    // width: 100%;
    overflow: hidden;
}  

.slider-list {
    display: flex;
    transition: transform 0.3s ease-in-out;
    padding: 0;
    list-style: none;
    // gap: 10px;
}

.slider-list li {
    // width: calc(100% / 3);
    // flex: 0 0 calc(100% / 3);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% / 3);
    text-align: center;
    position: relative;
}

.slider-list img {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}  
#prev-btn {
    left: 0px;
}

#next-btn {
    right: 0px;
}

.dday {
    background-color: var(--main-bg-300);
    color: red;
    position: absolute;
    font-size: 12px;
    right: 10px; top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}

.nowshow:after {
    content: '상영중';
    background-color: var(--main-bg-200);
    position: absolute;
    font-size: 12px;
    right: 10px; top: 10px;
    border-radius: 5px;
    padding: 5px 10px;
}
