<!-- <load src="../components/Header.html" title="피드" /> -->
<!-- <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab sequi sit magni, dolore suscipit nam quos assumenda earum architecto numquam quam voluptates nisi quia iure vel nemo, fuga corporis delectus?</h1> -->

<section class="box">
    <h2>날씨</h2>
    <div class="weather-container">
        <img src="#" alt="weather1" id="weatherIcon">
        <ul>
            <li id="temp">온도</li>
            <li id="weather">날씨</li>
            <li id="pollution">미세먼지</li>
        </ul>
    </div>
    
    <!-- <a href="#" class="btn-more">더보기</a> -->
</section>
<section class="box">
    <h2>영화</h2>
    <div class="movie-container">
        <ul id="movies">
            <!-- <li class="dday">
                <img src="http://ghjeon.dothome.co.kr/wavve_original/images/poster_1.jpg" alt="image1">
                틀린그림찾기
            </li>
            <li class="nowshow">
                <img src="http://ghjeon.dothome.co.kr/wavve_original/images/poster_6.jpg" alt="image2">
                스택폴
            </li> -->
        </ul>
    </div>
</section>

<section class="box">
    <h2>할일</h2>
    <div class="todo-container">
        <ul id="todos">
            <li>
                <input type="checkbox"> </input>
                <span>할일1</span>
            </li>
            <li>
                <input type="checkbox"> </input>
                <span>할일2</span>
            </li>
            <li>
                <input type="checkbox"> </input>
                <span>할일3</span>
            </li>
        </ul>
    </div>
</section>
