<!-- <load src="../components/Header.html" title="피드" /> -->
<!-- <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab sequi sit magni, dolore suscipit nam quos assumenda earum architecto numquam quam voluptates nisi quia iure vel nemo, fuga corporis delectus?</h1> -->

<section class="box">
    <h2>날씨</h2>
    <div class="weather-container">
        <img src="#" alt="weather1">
        <ul>
            <li>온도</li>
            <li>날씨</li>
            <li>미세먼지</li>
        </ul>
    </div>
    <!-- <a href="#" class="btn-more">더보기</a> -->
</section>

<section class="box">
    <h2>영화</h2>
    <div class="movie-container">
        <ul>
            <li>
                <a href="#">
                    <img src="http://ghjeon.dothome.co.kr/wavve_original/images/poster_1.jpg" alt="image1">
                </a>
                <h2>틀린그림찾기</h2>
                Lorem ipsum dolor sit amet 
            </li>
            <li>
                <a href="#">
                    <img src="http://ghjeon.dothome.co.kr/wavve_original/images/poster_6.jpg" alt="image2">
                </a>
                <h2>스택폴</h2>
                Lorem ipsum dolor sit amet 
            </li>
        </ul>
    </div>
</section>

<section class="box">
    <h2>할일</h2>
    <a href="#" class="btn-more">더보기</a>
</section>
