<header>
  <div>
    <button class="back_home">
      <img src="../../icon_arrow_left.svg" alt="홈 돌아가기" />
      <h1>Todo</h1>
    </button>
  </div>
  <div>
    <button class="add-task">
      <h2>New Task</h2>
      <img src="../../icon_plus.svg" alt="Task 추가" />
    </button>
  </div>
</header>

<section>
  <article>
    <div class="today">
      <h3>Today</h3>
      <h3 id="today_date"></h3>
    </div>
    <script>
      var Target = document.getElementById("today_date");
      var time = new Date();

      function today_date() {
        var month = time.getMonth();
        var date = time.getDate();
        var day = time.getDay();

        var hours = time.getHours();
        var minutes = time.getMinutes();

        Target.innerText = `${month + 1}월 ${date}일 ${hours < 10 ? `0${hours}` : hours}시 ${minutes < 10 ? `0${minutes}` : minutes}분`;
      }
      today_date();
      setInterval(today_date);
    </script>

    <div class="calendar">
      <button>
        <img src="../../icon_arrow_left.svg" alt="저번주" />
      </button>

      <div class="calendar-container">
        <ul>
          <li>
            <button class="Mon">
              <p class="date">date</p>
              <p>Mon</p>
            </button>
          </li>
          <li class="now">
            <button class="Tue">
              <p class="date">date</p>
              <p>Tue</p>
            </button>
          </li>
          <li>
            <button class="Wed">
              <p class="date">date</p>
              <p>Wed</p>
            </button>
          </li>
          <li>
            <button class="Thu">
              <p class="date">date</p>
              <p>Thu</p>
            </button>
          </li>
          <li>
            <button class="Fri">
              <p class="date">date</p>
              <p>Fri</p>
            </button>
          </li>
          <li>
            <button class="Sat">
              <p class="date">date</p>
              <p>Sat</p>
            </button>
          </li>
          <li>
            <button class="Sun">
              <p class="date">date</p>
              <p>Sun</p>
            </button>
          </li>
        </ul>
      </div>

      <button>
        <img src="../../icon_arrow_right.svg" alt="다음주" />
      </button>
    </div>
  </article>

  <h2>Timeline</h2>
  <article id="timeline">
    <div class="timeline-row" data-time="09:00">
      <span class="time">09:00</span>
      <div class="time-contents"></div>
    </div>
    <div class="timeline-row" data-time="09:30">
      <span class="time">09:30</span>
      <div class="time-contents">
        <div class="time-item middle" data-item-time="09:45">
          <label for="check1" class="checkbox">
            <input type="checkbox" name="isCompleted" id="check1" />
            <div class="check"></div>
          </label>
          <p class="content">할일 1</p>
        </div>
        <div class="time-item top" data-item-time="09:30">
          <label for="check2" class="checkbox">
            <input type="checkbox" name="isCompleted" id="check2" />
            <div class="check"></div>
          </label>
          <p class="content">할일 2</p>
        </div>
      </div>
    </div>
    <div class="timeline-row" data-time="09:30">
      <span class="time">10:00</span>
      <div class="time-contents"></div>
    </div>
  </article>
</section>
<div class="modal">
  <div class="modal_body">
    <h2>New Task</h2>
    <table>
      <tr>
        <th>Task Name</th>
        <td>
          <input type="text" id="task-title" placeholder="테스크 이름을 입력하세요." />
        </td>
      </tr>
      <tr>
        <th>날짜</th>
        <td>
          <input type="date" id="start-date" name="start-date" value="2024-08-21" min="2024-01-01" max="2030-12-31" />
        </td>
      </tr>
      <tr>
        <th>시작시간</th>
        <td>
          <input type="time" name="start-time" id="start-time" required />
        </td>
      </tr>
      <tr>
        <th>종료시간</th>
        <td>
          <input type="time" name="end-time" id="end-time" required />
        </td>
      </tr>
    </table>
    <button class="add-task-item" type="submit">추가</button>
  </div>
</div>
